<!DOCTYPE html>
<html>
<head>
  <title>Title of the document</title>
</head>

<body>
  <ul>
    <li><a class ="active" href = "home">Home</a></li>
    <li><a href = "profile">Profile</a></li>
    <li><a href = "setting">Settings</a></li>
    <li><a href = "logout">Log out</a></li>
  </ul>

  <div class="CenterAll">
    <%= form_tag(:action => 'send_random_tactic') do %>
        <%= submit_tag("Test email") %>
    <% end %>
  </div>
</body>

</html>
