<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<!DOCTYPE html>
<html>
<head>
</head>

<body>
<ul>
  <li><a href = "home">Home</a></li>
  <li><a href = "profile">Profile</a></li>
  <li><a href = "setting">Settings</a></li>
  <li><a href = "logout">Log out</a></li>
</ul>
  <div class= "CenterAll">

    <h2 class='User_Header'>Halla, <%= @current_user.username%>! </h2>
    <p> Du har valgt programmet: <%= session[:program] %> for <%= @current_user.gender %>s <%= session[:price]%> $</p>
    <a href="/checkout" data-paypal-button="true">
      <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="center" style="margin-right:7px;"></a>
  </div>

</body>

</html>
