<!DOCTYPE html>
<html>
<head>
</head>

<body>
<ul>
  <li><a href = "home">Home</a></li>
  <li><a href = "profile">Profile</a></li>
  <li><a href = "setting">Settings</a></li>
  <li><a href = "logout">Log out</a></li>
</ul>
  <div class= "CenterAll">

    <h2 class='User_Header'>Halla, <%= @current_user.username%>! </h2>
    <p> Du har valgt programmet: <%= @current_user.program%> </p>


  </div>
</body>

</html>