<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> -.-!</h1>
<p>Thang added new item, maybe you will find it interesting! <%= @item.program %> for <%= @item.price %>$</p>
</body>
</html>